
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Inventory Homepage</title>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<style type="text/css">
	
	@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

html,


.card {
    border-radius: 15px;
    color: #6f707d
}

.div1 {
    background: url('https://i.imgur.com/sTfvzrM.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: local;
    border-radius: 16px 16px 0 0
}

.div2 {
    height: 30px;
    background-color: #9fe0fa;
    border-radius: 0 0 15px 15px
}

	
	</style>
</head>
<body>
	<div th:insert="navbar :: navbar">  </div>
		<div>&nbsp;</div>
	  		<div>&nbsp;</div>
	  		<div>&nbsp;</div>
	<div class="container text-center">
		<div>
  
</div>
	</div>
	
	<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-md-5 col-sm-12 col-xs-12">
            <div class="card text-white">
                <div class="div1 p-4 p-md-5 ">
                                   <h4 style="text-align:right;">Winterthur  </h4>
                
                   <h3>Current Conditions </h3>
    <p th:text="${currentWeather.description}">Description</p>
    <h3>Temperature</h3>
    <p th:text="${currentWeather.temperature} + '&#8451;'">Temperature</p>
    <h3>Feels Like</h3>
    <p th:text="${currentWeather.feelsLike} + ' &#8451;'">Feels Like</p>
    <h3>Wind Speed</h3>
    <p th:text="${currentWeather.windSpeed} + ' mph'"></p>
                </div>
                <div class="div2"> </div>
            </div>
        </div>
    </div>
</div>
	
</body>
	<div th:insert="navbar :: footer">  </div>
</body>
</html>